<div xmlns:th="http://www.thymeleaf.org" th:fragment="stylesheet">

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/meanmenu.css}">

    <link rel="stylesheet" th:href="@{/assets/css/boxicons.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">

    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/owl.theme.default.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/nice-select.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/odometer.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">

    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">

</div>