<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/fragment_head('FAFCAMEROUN')"/>

<body>

<th:block th:replace="fragments/fragment_navbar"/>


<div class="page-title-area item-bg-5">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Gallery</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="gallery-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/gallery/image1.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Financial Planning</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/gallery/image2.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Startup Funding</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/gallery/image3.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Fund Management</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/gallery/image4.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Investment Shares</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/gallery/image5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Strategy</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/gallery/image6.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Finance</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/gallery/image7.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Investments Loan</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/gallery/image8.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Business Purpose</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/gallery/image9.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Commercial Loan</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-btn">
        <a href="#" class="default-btn">Load more</a>
    </div>
</section>


<th:block th:replace="fragments/fragment_footer"/>

<th:block th:replace="fragments/fragment_scripts"/>

</body>

</html>